<!-- <footer class="footer py-3 mt-auto" style="background-color: #6d9dc5;">
    <div class="container">
        <span>&copy; MazurYacht 2022</span>
        <iframe class="display-block"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22631.185817347494!2d21.72923838021595!3d54.02615333117222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e188759c3aa21f%3A0x75658d62c0c26e98!2sJachty%20Mazury!5e1!3m2!1spl!2spl!4v1672614575461!5m2!1spl!2spl"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</footer> -->

<footer class="bg-light text-center text-lg-start mt-5">
    <div class="container p-4">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Nasza lokalizacja</h5>
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22631.185817347494!2d21.72923838021595!3d54.02615333117222!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e188759c3aa21f%3A0x75658d62c0c26e98!2sJachty%20Mazury!5e1!3m2!1spl!2spl!4v1672614575461!5m2!1spl!2spl"
                    width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <h5 class="text-uppercase">Kontakt:</h5>
                <p>
                    Adres: Pierkunowo 36, 11-500 Giżycko
                </p>
                <p>
                    Telefon: +48 789 344 301
                </p>
                <p>
                    Mail: mazur-yacht@gmail.com
                </p>
                <hr>
                <h5 class="text-uppercase">Warto odwiedzić:</h5>
                <p>
                    <a class="text-dark" href="https://gizycko.pl/">Miasto Giżycko</a>
                </p>
                <p>
                    <a class="text-dark" href="https://www.mazury.info.pl/">Wszystko o mazurach</a>
                </p>
                <p>
                    <a class="text-dark" href="https://pya.org.pl/polski-zwiazek-zeglarski">Polski Związek
                        Żeglarski</a>
                </p>
            </div>
        </div>
    </div>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        Grupa 3 © 2023 Copyright:
        <a class="text-dark" href="/">MazurYacht</a>
    </div>
</footer>