<nav class="navbar sticky-top navbar-expand-lg bg-light">
    <div class="container-fluid">
        <img src="https://cdn-icons-png.flaticon.com/512/896/896624.png" alt="Logo" width="50px" height="40px"
            class="d-inline-block align-text-top"">
        <a class=" navbar-brand" href="/">MazurYacht</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" href="/">Strona główna</a>
                <a class="nav-link" href="/yachts">Oferta jachtów</a>
                <a class="nav-link" href="/about">O nas</a>
            </div>
        </div>
    </div>
</nav>