<% layout('layouts/boilerplate') %>
    <h2>O naszej firmie</h2>
    <p class="m-0 p-0">
        Jesteśmy firmą z długoletnim doświadczeniem w czarterze jachtów - przeszło 15 lat w branży!
    </p>
    <p class="m-0 p-0">
        Przedewszystkim cenimy sobie dobro naszych klientów - obsługa na najwyższym poziomie:
    </p>
    <p class="m-0 p-0">
        Wykwalifikowany personel, nowoczesne jachty, pomoc 24/7
    </p>
    <hr>
    <p>
        Kilka zdjęć naszej lokalizacji:
    </p>
    <div class="container text-center">
        <div class="row">
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_145654-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_143228-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_144444-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_183638-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_183349-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
            <div class="col mb-3">
                <img src="https://twistczarter.pl/wp-content/uploads/2020/09/IMG_20200808_145848-1024x768.jpg" alt=""
                    class="rounded w-100">
            </div>
        </div>
    </div>
    <hr>