<% layout('layouts/boilerplate') %>
    <h1 class="text-center fw-bolder">MazurYacht - lider wśród czarterów na mazurach</h1>
    <h3 class="text-center text-muted fst-italic">Jachty w najlepszych cenach</h3>
    <h5 class="text-center fw-light">Serdecznie zapraszamy do sprawdzenia oferty jachtów oraz ich dostępności w zakładce
        "Oferta jachtów"
    </h5>
    <img src="https://mazury24.eu/img/galerie/57332_7.jpg" class="img-fluid" alt=""
        style="width: 100%; height: auto; margin: auto">